<dl>
  {{#if supports.type}}
  <dt>Type</dt>
  <dd>
    <button class="c-button c-button--{{this._self.name}} c-button--secondary"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--secondary</span>
    </button>
    {{#if small}}
      <small>(no small primary allowed)</small>
    {{else}}
      <button class="c-button c-button--{{this._self.name}} c-button--primary"
      {{#if disabled}}disabled{{/if}}>
        <span class="c-button__text">--primary</span>
      </button>
    {{/if}}
    <button class="c-button c-button--{{this._self.name}} c-button--tertiary"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--tertiary</span>
    </button>
  </dd>
  {{/if}}

  {{#if supports.states}}
  <dt>States</dt>
  <dd>
    <button class="c-button c-button--{{this._self.name}}
      {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">default</span>
    </button>
    <button class="c-button c-button--{{this._self.name}} c-button--is-busy
      {{#if type}}{{type}}{{/if}}"
      disabled>
      <span class="c-button__text">--is-busy</span>
    </button>
  </dd>
  {{/if}}

  {{#if supports.icons}}
  <dt>Icons</dt>
  <dd>
    <button class="c-button c-button--{{this._self.name}}
      {{#if supports.width}}c-button--width-long{{/if}}
      {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <i class="c-button__icon--before" aria-description="validate input">…</i>
      <span class="c-button__text">__icon--before</span>
    </button>
    <button class="c-button c-button--{{this._self.name}}
      {{#if supports.width}}c-button--width-long{{/if}}
      {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">__icon--after</span>
      <i class="c-button__icon--after" aria-description="exit page">X</i>
    </button>
  </dd>
  {{/if}}

  {{#if supports.width}}
  <dt>Width</dt>
  <dd>
    <button class="c-button c-button--{{this._self.name}}
      {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--width-short</span>
    </button>
    <button class="c-button c-button--{{this._self.name}} c-button--width-medium {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--width-medium</span>
    </button>
    <button class="c-button c-button--{{this._self.name}} c-button--width-long {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--width-long</span>
    </button>
  </dd>
  {{/if}}

  {{#if supports.size}}
  <dt>Size</dt>
  <dd>
    {{#if supports.size-small}}
    <button class="c-button c-button--{{this._self.name}} c-button--size-small
      {{#if type}}{{type}}{{/if}}"
      {{#if disabled}}disabled{{/if}}>
      <span class="c-button__text">--size-small</span>
    </button>
    {{else}}
      <small>(no small size allowed)</small>
    {{/if}}
  </dd>
  {{/if}}
</dl>
